
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: "Open Sans", sans-serif;
	background-color: #F4F4F4;
}

#body-wrapper {
	min-height:100%;
	position:relative;
}

#body-content {
	padding-top: 81px; /* Height of the header element */
	padding-bottom:100px; /* Height of the footer element */
	/*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

ul {
	margin: initial;
}

.form_container {
	margin: 5% 20%;
}
.form_styled_container {
	padding: 36px;
	margin: 20px;
	background-color: white;
	box-shadow: 1px 1px 8px -2px grey;
}

.right {
	text-align: right;
}
.center {
	text-align: center;
}

.padding_small {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding_medium {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding_large {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding_top_small {
	padding-top: 10px;
}
.padding_top_medium {
	padding-top: 20px;
}
.padding_top_large {
	padding-top: 30px;
}
.padding_bottom_small {
	padding-bottom: 10px;
}
.padding_bottom_medium {
	padding-bottom: 20px;
}
.padding_bottom_large {
	padding-bottom: 30px;
}
.float_right {
	float: right;
}
.float_left {
	float: left;
}
.pointer_h {
	cursor: pointer;
}


.lightgrey {
	color: #ADADAD;
}

.login_form_wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    /*width: 20%;*/
}
.login_form_wrapper form {
	margin: 3%;
}

.form_label {
	/*font-size: 20px;*/
}
#login_rememberme_label {
	/*font-size: 12px;*/
}

div.dt-buttons {
	margin-bottom: 0.5em;
}







/* --- MODALS --- */
@media screen and (min-width: 768px) {
	
	.wide_modalform .modal-dialog  {
		max-width: none;
		width: 70%;
		margin: 75px auto;
	}

}
.modal-header, .modal-footer {
	border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* DEBUGGER! :D */
.debugger {
	width: 100%;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	padding: 25px;
	margin: 10px 0;
	background-color:white;
}
/*--------------*/



/* --- TOOLBAR --- */

#toolbar {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	margin-bottom: 1.2em;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	opacity: .2;
	z-index: 1;
	padding: 10px;
	border-radius: 3px;
	transition: .3s;
}
#toolbar:hover {
	opacity: 0.9;
}
#toolbar > ul {
	display: flex;
	padding: 0;
}
#toolbar .divider {
	width: 2px;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 1em;
}
#toolbar .toolbar-button {
	color: rgba(255, 255, 255 ,0.7);
}
#toolbar .toolbar-button:hover {
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.2);
}
.toolbar-button {
    display: block;
    list-style: none;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

/* ------------------ */

.summary, .datatable {
	padding-top: 15px;
	padding-bottom: 15px;
}
.datatable {
	max-width: 100%;
}
.summary-tile {
	background: #ffffff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	border-radius: 2px;
	box-shadow: 0px 2px 5px #888888;
}
.datatable-tile {
	background: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 2px;
	box-shadow: 0px 2px 5px #888888;
}
div.dataTables_wrapper div.dataTables_filter label {
	white-space: normal;
}