@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
	font-style: normal;
}
@font-face
{
	font-family: "SanFrancisco-Bold";
	src: url(../application/fonts/SanFrancisco-Bold.ttf);
	font-weight: bold;
}
@font-face
{
	font-family: "SanFrancisco-RegularItalic";
	src: url(../application/fonts/SanFrancisco-RegularItalic.ttf);
	font-style: italic;
}
/*@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
}
@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
}
@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
}
@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
}
@font-face
{
	font-family: "SanFrancisco";
	src: url(../application/fonts/SanFrancisco-Regular.ttf);
}*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: "SanFrancisco";
	background-color: #F4F4F4;
}

#body-wrapper {
	min-height:100%;
	position:relative;
}

#body-content {
	padding-top: 78px; /* Height of the header element */
	padding-bottom:100px; /* Height of the footer element */
	/*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

ul {
	margin: initial;
}

.form_container {
	margin: 5% 20%;
}
.form_styled_container {
	padding: 36px;
	margin: 20px;
	background-color: white;
	box-shadow: 1px 1px 8px -2px grey;
}

.right {
	text-align: right;
}
.center {
	text-align: center;
}

.padding_small {
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding_medium {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding_large {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding_top_small {
	padding-top: 10px;
}
.padding_top_medium {
	padding-top: 20px;
}
.padding_top_large {
	padding-top: 30px;
}
.padding_bottom_small {
	padding-bottom: 10px;
}
.padding_bottom_medium {
	padding-bottom: 20px;
}
.padding_bottom_large {
	padding-bottom: 30px;
}
.float_right {
	float: right;
}
.float_left {
	float: left;
}


.lightgrey {
	color: #ADADAD;
}

.login_form_wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    /*width: 20%;*/
}
.login_form_wrapper form {
	margin: 3%;
}

.form_label {
	/*font-size: 20px;*/
}
#login_rememberme_label {
	/*font-size: 12px;*/
}

div.dt-buttons {
	margin-bottom: 0.5em;
}