.main
{
	background-color: #F4F4F4;
}
.align_main {
	padding: 0 125px;
}

.content
{
	padding: 150px;
	background-color: #F4F4F4;
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 8px -2px grey;
}
.content table 
{
	// display: flex;
}