.main
{
	/*padding-top: 200px;*/
	/*margin: 0 100px 0 100px;*/
	padding: 150px;
	background-color: #F4F4F4;
}
.content
{
	padding: 150px;
	background-color: #F4F4F4;
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 8px -2px grey;
}
.content table 
{
	// display: flex;
}