.content
{
	padding: 20px;
	padding-bottom: 75px;
	background-color: white;
	/*display: flex;*/
	box-shadow: 1px 1px 8px -2px grey;
}

#toolbar {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	margin-bottom: 1.2em;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	opacity: .2;
	z-index: 1;
	padding: 10px;
	border-radius: 3px;
	transition: .3s;
}
#toolbar:hover {
	opacity: 0.9;
}
#toolbar > ul {
	display: flex;
	padding: 0;
}
#toolbar .divider {
	width: 2px;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 1em;
}
#toolbar .toolbar-button {
	color: rgba(255, 255, 255 ,0.7);
}
#toolbar .toolbar-button:hover {
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.2);
}
.toolbar-button {
    display: block;
    list-style: none;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
}
