html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: sans-serif;
}

#body-wrapper {
	min-height:100%;
	position:relative;
}

#body-content {
	padding-bottom:100px; /* Height of the footer element */
}

ul {
	margin: initial;
}